*, *::after, *::before {
    box-sizing: border-box;
  }

html,body{
    /*background: -moz-linear-gradient(180deg,#0f2027,#203a43,#2c5364);*/
    /*background: -moz-linear-gradient(180deg,#0f0c29,#302b63,#24243e);*/
    /*background: -moz-linear-gradient(180deg,#000428,#302b63,#004e92);*/
    background: -moz-linear-gradient(180deg,#004ff9,#fff94c);
    height:100%; 
    margin:0;
    padding:0;
}

#Menu {
    display: flex;
    align-content: flex-start;
    background-color: rgba(255, 255, 255, 0.822);
    padding-bottom: 100px;
}
.Color{
Color:#004e92;
}
#MenuI {
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

#Navegacion{
    
    margin-left: 45%;
    padding-top: 3.5rem;
    padding-bottom: 0px;
    margin-bottom: 0;
    justify-content: space-between;
}

#MenuI:hover{
color: rgba(78, 78, 78, 0.507);
}

#logo{
    position: absolute;
    font-size: 3.8rem;
    text-decoration:none;
    Color:#173c8b;
    font-family: 'Permanent Marker', cursive;
    margin-top: 25px;
    margin-left: 50px;
}

.espacio{
    margin-left: 100px;
    margin-right: 100px;
}

.contenido{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}

.prod{
    margin-right: 20px;
    width: 33%;
    justify-content: center;
     text-align: justify;
     color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.prod h1{
    font-size: 25px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}
.explore-button {
    font-size: 0.9em;
    background: white;
    width: 80%;
    color: #a7a7a7;
    display: inline-block;
    padding: 1em;
    margin-top: 5em;
    border-radius: 5em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
    margin-left: 2em;
    margin-right: .6em;

}
#stl_cont {
    margin-left: 25%;
    width:250px;
    height:220px;
}
#stl_cont1{
    margin-left: 25%;
    width:250px;
    height:220px;
}

.explore-button:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
    color: #111111;
}

.Producto_ima{
    display: block;
    margin-top: 2.5em;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}




.Categorias{
    padding-top: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

@media only screen and (min-width: 280px) and (max-width: 800px){

    *, *::after, *::before {
        box-sizing: border-box;
      }
    
    html,body{
        /*background: -moz-linear-gradient(180deg,#0f2027,#203a43,#2c5364);*/
        /*background: -moz-linear-gradient(180deg,#0f0c29,#302b63,#24243e);*/
        /*background: -moz-linear-gradient(180deg,#000428,#302b63,#004e92);*/
        background: -moz-linear-gradient(180deg,#004ff9,#fff94c);
        height:100%; 
        margin:0;
        padding:0;
    }
    
    #stl_cont {
        margin-left: 25%;
        width:140px;
        height:90px;
    }
    #stl_cont1{
        margin-left: 25%;
        width:140px;
        height:150px;
    }
    #Menu {
        display: flex;
        align-content: flex-start;
        background-color: rgba(255, 255, 255, 0.651);
        padding-bottom: 50px;
    }
    .Color{
    Color:#004e92;
    }
    
    #MenuI {
        text-decoration: none;
        font-size: 10px;
        margin-right: 10px;
        font-family: 'Noto Sans JP', sans-serif;
        text-align: center;
    }
    
    #Navegacion{
        
        margin-left: 50%;
        padding-top: 3rem;
        padding-bottom: 0px;
        margin-bottom: 0;
        justify-content: space-between;
    }
    
    #MenuI:hover{
    color: rgba(78, 78, 78, 0.507);
    }
    
    #logo{
        position: absolute;
        font-size: 1.3rem;
        text-decoration:none;
        Color:#173c8b;
        font-family: 'Permanent Marker', cursive;
        margin-top: 50px;
        margin-left: 30px;
    }
    
    .espacio{
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .contenido{
        display: flex;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    
    .prod{
        margin-right: 20px;
        width: 33%;
        justify-content: center;
         text-align: justify;
         color: white;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .prod h1{
        font-size: 15px;
        text-align: center;
        font-family: 'Noto Sans JP', sans-serif;
    }

    .explore-button {
        font-size: 0.6em;
        background: white;
        padding-bottom: 25px;
        width: 75%;
        height: 35px;
        color: #a7a7a7;
        display: inline-block;
        padding: 1em;
        margin-top: 4em;
        border-radius: 5em;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.1em;
        box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
        transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
        margin-left: 2em;
        margin-right: .6em;
    
    }
    
    .explore-button:hover {
        box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
        transform: translateY(-1px);
        color: #111111;
    }
    
    .Producto_ima{
        display: block;
        margin-top: 2.5em;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
    
    .Categorias{
        padding-top: 20px;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        color: white;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
}